@charset "utf-8";
/* CSS Document */

.GalleryBlock {
	float:left;
	height:260px;
	width:320px;
	padding:5px;
	border:1px solid black;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:x-small;
	background-color:black;
	color:gold;
	margin:5px;
	
}

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color:#2957A2;
	color:white;
}

.ImageCaption {
	font-size:14px;
	font-weight:bold;
}


.ContentArea {
	height:600px;
	width:1060px;
	overflow:auto;
	float:left;
	padding:5px;
}

a {
	color:white;
	font-size:xx-small;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
}

a:hover {
	color:gold;
}

li {
	font-size:12px;
	padding:5px;
}

