@charset "utf-8";

/**
	

										SESSION_STARTUP.MP3
										SESSION_SWITCH_USERS.MP3
										SESSION_LOGOUT.MP3
										
										SYSTEM_WARNING.MP3
										SYSTEM_CRITICAL_ERROR.MP3
										SYSTEM_ALARM.MP3
										SYSTEM_LOADING.MP3
										SYSTEM_UPLOAD_COMPLETE.MP3
										
										NETWORK_CONNECTION_LOST.MP3
										NETWORK_CONNECTION_FOUND.MP3
										
										WINDOW_MINIMIZE.MP3
										WINDOW_MAXIMIZE.MP3
										WINDOW_RESTORE.MP3
										WINDOW_OPEN.MP3
										WINDOW_CLOSE.MP3
										
										BEGIN_DRAG.MP3
										END_DRAG.MP3
										
										APP_MAIL_RECEIVED.MP3
										APP_CHAT_BEGIN.MP3
										APP_CHAT_END.MP3
										
	


    *** WINDOW DECORATIONS ***
	
	
	TLC:						Top Left Corner
	TRC:						Top Right Corner
	BLC:						Bottom Left Corner
	BRC:						Bottom Right Corner
	BRC_SIZE:					Sizeable Bottom Right Corner
	TITLEBAR:					Title Bar
	TITLETEXT:					Title Bar Text
	LEFTEDGE:					Left Window Border
	RIGHTEDGE: 					Right Window Border
	BOTTOMEDGE:					Bottom Edge
	
	CONTROLS:					Window Controls
	
	MINIMIZE:					Minimize Button
	MAXIMIZE:					Maximize Button
	CLOSE:					Close Button
	REFRESH:					Refresh Button
	RESTORE:					Restore Button
	
	WINDOW:					The inner frame of the window -- theme authors, please note that this 
							will generally be overridden by the __PREFINITI_APPLICATION selector.
	
	
	*** DESKTOP TOOLS ***
	
	JUMPER:					Jumper Bar
	
	
	*** SYSTEM CONTROLS ***
	
	MENUSTRIP_ACTIVE:				A menu strip item, when highlighted. (a menu strip item is like the typical File, Edit, View, etc. headings)
	MENUSTRIP_INACTIVE:			Inactive version of above
	MENUSTRIP_LINK:				The text of a menu item (please use MENUTABLE a to customize menu links instead of this selector,
								to avoid interfering with the Window Manager's alpha blending.
	MENUTABLE a:				Use this to customize the text on a menu
	MENUTABLE a:hover:			Use this to customize the highlighted menu item
	
	
	*** APPLICATION ELEMENTS ***
	
	APPLICATION:				Overall Application Appearance
	TAB_ACTIVE:					Tab control (highlighted)
	TAB_INACTIVE:				Tab control (unhighlighted)
	DOCUMENT:					The contents of a document (YOU MUST ALSO DUPLICATE THIS AS "DOCUMENT td" SO THAT TABLES ARE CONSISTENT)
	DOCUMENT td:				Table cell within a document (MUST BE THE SAME AS "DOCUMENT")
	
	
**************************/

.__PREFINITI_TLC {
	background-color:gray; 
	background-repeat:no-repeat; 
	width:4px;
}

.__PREFINITI_TRC {
	background-color:gray; 
	background-repeat:no-repeat; 
	width:4px;
}

.__PREFINITI_BLC {
	width:4px; 
	background-color:gray;
	background-repeat:no-repeat;
	height:4px !important;
}

.__PREFINITI_BRC {
	width:4px; 
	background-color:gray !important;
	background-repeat:no-repeat;
	height:4px !important;
}

.__PREFINITI_BRC_RESIZE {
	width:4px; 
	background-color:gray !important;
	cursor:se-resize;
	background-repeat:no-repeat;
	height:4px !important;
}

.__PREFINITI_ICON {
	background-color:gray !important; 
	background-repeat:repeat-x; 
	width:16px;
}

.__PREFINITI_TITLEBAR {
	background-color:gray; 
	background-repeat:repeat-x;
}

.__PREFINITI_JUMPER {
	background-color:white !important;
	opacity:0.8;
	background-repeat:repeat-x;
}

.__PREFINITI_CONTROLS {
	background-color:gray !important; 
	background-repeat:repeat-x; 
	width:auto; 
	min-width:16px;
}

.__PREFINITI_LEFTEDGE {
	background-color:gray !important; 
	background-repeat:repeat-y; 
	width:9px;
}

.__PREFINITI_LEFTEDGE_RESIZE {
	background-color:gray !important; 
	background-repeat:repeat-y; 
	width:4px;
	cursor:w-resize;
}

.__PREFINITI_RIGHTEDGE {
	background-color:gray !important; 
	background-repeat:repeat-y; 
	width:4px;
}

.__PREFINITI_RIGHTEDGE_RESIZE {
	background-color:gray !important;
	background-repeat:repeat-y; 
	width:4px;
	cursor:e-resize;
}

.__PREFINITI_BOTTOMEDGE {
	background-color:gray !important;
	background-repeat:repeat-x;
	height:4px !important;
}

.__PREFINITI_BOTTOMEDGE_RESIZE {
	background-color:gray !important;
	background-repeat:repeat-x;
	cursor:s-resize;
	height:4px !important;
}

.__PREFINITI_MINIMIZE {	

}

.__PREFINITI_MAXIMIZE {

}

.__PREFINITI_RESTORE {

}

.__PREFINITI_REFRESH {

}

.__PREFINITI_CLOSE {

}

.__PREFINITI_WINDOW {

}

.__PREFINITI_TITLETEXTWRAPPER {
	width:100%;
	height:30px;
}

.__PREFINITI_TITLETEXT {
	color:white;
	font-size:12px;
	font-weight:bold;
	background-color:transparent;
	font-family:Verdana, Geneva, sans-serif;
}
	
.__PREFINITI_MENUSTRIP_ACTIVE {
	background-color:#EFEFEF;
	color:white;
	 -moz-border-radius:2px;
}


.__PREFINITI_MENUSTRIP_INACTIVE {
	background-color:black;
	color:white;
}

.__PREFINITI_MENUSTRIP_LINK {
	color:white;
	background-color:transparent;
	font-weight:bold;
	text-decoration:none;
	font-size:10px;
	padding:4px;
}

.__PREFINITI_MENUTABLE {
	background-color:white !important;
	font-size:12px;
	padding:0px;
	border-style:ridge;
	border-width:2px;
	border-color:black;
}

.__PREFINITI_MENUTABLE td {
	background-color:transparent !important;
	font-size:12px;
	padding:3px;
	border: none !important;
}

.__PREFINITI_MENUTABLE a {
	font-size:12px;
	color:black;
	background-color:white;
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding:3px;
	float:left;
	width:95%;
}

.__PREFINITI_MENUTABLE a:hover {
	font-size:12px;
	color:white;
	background-color:#2957A2;
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding:3px;
	float:left;
	width:95%;
}

th {
	font-family: Verdana,Geneva,sans-serif;
	font-size: x-small;
	background-color: #2957a2;
	color: white;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	text-align: left;
}

.__PREFINITI_APPLICATION {
	background-color:#2957A2;
	color:white;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
}

.__PREFINITI_APPLICATION td {
	background-color:transparent;
	color:white;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}

.__PREFINITI_APPLICATION hr {

}

.__PREFINITI_TOOLBAR {
	border-top:0px solid #999999;
	background-color:#EFEFEF;
	color:black;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;		
}

.__PREFINITI_DESKTOP_TOOLBAR td {
	border-top:1px solid #999999;
	background-color:black;
	color:white;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}

.__PREFINITI_DESKTOP_TOOLBAR {
	border-top:1px solid #999999;
	background-color:black;
	color:white;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
}

.normalButton {
	background-color:#5E82BE;
	color:#1E4078;
	border-left:1px solid silver;
	border-top:1px solid silver;
	border-bottom:1px solid gray;
	border-right:1px solid gray;
	padding:3px;
	-moz-border-radius:3px;
}

.normalButton:hover {
	background-color:#2957A2;
	color:white;
	border-left:1px solid silver;
	border-top:1px solid silver;
	border-bottom:1px solid gray;
	border-right:1px solid gray;
	padding:3px;
	-moz-border-radius:3px;
}

.normalButton:active {
	background-color:#2957A2;
	color:white;
	border-left:2px solid black;
	border-top:2px solid black;
	border-bottom:0px solid gray;
	border-right:0px solid gray;
	padding:3px;
	-moz-border-radius:3px;
}

.__PREFINITI_TOOLBAR_BUTTON {
	font-size:16px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	float:left;
	margin-left:15px;
	margin-top:5px;
	padding:8px;
	background-color:#EFEFEF;
	-moz-border-radius:5px;
}

.__PREFINITI_TAB_ACTIVE {
	width:auto;
	display:block;
	float:left;
	background-color:#EFEFEF;
	font-weight:bold;

	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	font-family:Verdana, Geneva, sans-serif;
	margin-left:5px;
	padding:2px;
}

.__PREFINITI_TAB_INACTIVE {

	width:auto;
	display:block;
	float:left;
	background-color:#CCCCCC;
	font-weight:lighter;
	
	
	margin-left:5px;
	padding:2px;
	font-family:Verdana, Geneva, sans-serif;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
}

.__PREFINITI_DOCUMENT {
	background-color:white;
	color:black;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}

.__PREFINITI_DOCUMENT td {
	background-color:white;
	color:black;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
}

.__PREFINITI_RESBOX {
	position:absolute;
	top:8px;
	left:8px;
	width:auto;
	font-size:14px;
	font-family:Verdana, Geneva, sans-serif;
	background-color:white;
	border:3px solid #999999;
	
}

.__PREFINITI_DESKTOP_ICON {
	
}

.__PREFINITI_FILE_ICON {
	font-family:Verdana, Geneva, sans-serif;
	background-color:transparent;
	font-size:10px;
	color:black;
}

.__PREFINITI_FILE_ICON img:hover {
	opacity:0.50;
}


.__PREFINITI_FILE_ICON img:active {
	font-family:Verdana, Geneva, sans-serif;
	background-color:black;
	opacity:0.50;
	padding:4px;
	-moz-border-radius:2px;
}

.__PREFINITI_FILE_SELECT {
	font-family:Verdana, Geneva, sans-serif;
	background-color:black;
	opacity:0.30;
	-moz-border-radius:5px;
	font-size:10px;
	border-top:1px solid #999999;
	border-right:1px solid #999999;

}

.__PREFINITI_SIDEBAR_BACKGROUND {
	        background-color:#EFEFEF !important;

}

.__PREFINITI_SIDEBAR {
	font-family:Verdana, Geneva, sans-serif;
	background-color:#C0C0C0;
	font-size:12px;
	color:#2597A2;
	-moz-border-radius:5px;
        
}
.__PREFINITI_SIDEBAR_TITLE {
	font-family:Verdana, Geneva, sans-serif;
	background-color:transparent;
	font-size:12px;
	color:#2957A2;
	font-weight:bold;
}

.__PREFINITI_DESKTOP_NOTIFICATION {
	background-color:#000000;
	-moz-opacity:.70;
	-moz-border-radius:10px;
	width:500px;
	height:auto;
	padding:30px;
	position:absolute;
	top:20px;
	right:20px;
	z-index:2000;
	margin-top:38px;
}

.__PREFINITI_DESKTOP_NOTIFICATION td {
	background-color:inherit;
	-moz-opacity:.70;
}

.__PREFINITI_DESKTOP_NOTIFICATION h1 {
	font-size:x-large;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:white;
	-moz-opacity:.70;
}

.__PREFINITI_DESKTOP_NOTIFICATION h2 {
	font-size:medium;
	margin:0px;
	padding:5px;
	color:white;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	-moz-opacity:.70;
}

a {
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
	color:#000000;
}
a:hover {
	font-family:Verdana, Geneva, sans-serif;
	color:#2957A2;
	text-decoration: underline;
}

input:focus {
	background-color:#C0C0C0;
}

/* This style works in FF 3.1 but slows down performance bigtime!!!
Lets wait and see what the future holds on this. It looks good But 
not the right time:(
.__PREFINITI_WINDOW_ACTIVE {
	-moz-box-shadow:3px 3px 10px black;
}*/